body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f01616;
    color: #333;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
}


button {
    font-size: 1.5rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #899706;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  } */
  
 button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
  
