<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link href="/css/body.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>

<body align="center">
    <main>
        <h1>ASCII Art Generator</h1>
        <form action="/" method="POST">
            
                <label for="text">Enter Text:</label><br><br>
            <div>
                <input  class="input" autofocus type="text" id="text" name="text" required placeholder="Your text"><br><br>
            </div>
            </div>   

            <label for="banner">Select Banner:</label><br>
            <select id="banner" name="banner">
                <option value="standard" {{if eq .Banner "standard"}}selected{{end}}>Standard</option>
                <option value="shadow" {{if eq .Banner "shadow"}}selected{{end}}>Shadow</option>
                <option value="thinkertoy" {{if eq .Banner "thinkertoy"}}selected{{end}}>Thinkertoy</option>
            </select><br><br>
            
            <button>Create</button>
        </form>

        {{if .HasError}}
        <div style="color: red; margin-top: 20px;">
            <strong>Error:</strong> {{.Error}}
        </div>
        {{end}}

        {{if .AsciiArt}}
        <hr>
        <h2>Generated ASCII Art:</h2>
        <pre class="ascii-art">{{.AsciiArt}}</pre>
        {{end}}
    </main>
</body>
</html>



</html>
